docs/data/TerraIgnota.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Terra Ignota       <desc>Part of a private experiment with TEI and TEI Publisher using Terra Ignota as the base text.</desc>
                </title>
                <title type="short">Custom ODD for Terra Ignota</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2022-08-25-04:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="TerraIgnota" source="teipublisher.odd"> <elementSpec ident="persName" mode="add">
                    <model predicate="@ref" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id(substring-after(@ref, &#34;#&#34;), root(.))"/>
            <outputRendition xml:space="preserve">
            color:#000055;
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="date" mode="change">
                    <model output="print" predicate="text()" behaviour="inline"/>
                    <model output="print" predicate="@when and not(text())" behaviour="inline">
            <param name="content" value="@when"/>
        </model>
                    <model predicate="text()" behaviour="inline"/>
                    <model output="web" predicate="@when" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="format-date(@when,'[FNn] the [D1o] of [MNn], [Y0001]')"/>
        </model>
                </elementSpec>
                <elementSpec ident="said" mode="add">
                    <model predicate="@aloud and @who=&#34;#reader&#34;" behaviour="inline">
            <desc>This renders contributions from the 'gentle reader' in italics, like in the original text.</desc>
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="orgName" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color:#005500;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color:#005500;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="@type='trailer'" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: center;
            </outputRendition>
        </model>
                    <model predicate="@type='permissions'" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: center;
            </outputRendition>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="titlePage" mode="change"/>
                <elementSpec ident="speaker" mode="change">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style:italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="p" mode="change">
                    <model behaviour="paragraph" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            text-align: justify;
text-indent: 2em;
            
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="sp" mode="change">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            text-indent: 2em;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="@type=(&#34;chapterTitle&#34;)" behaviour="heading">
            <param name="level" value="1"/>
        </model>
                    <model predicate="@type=(&#34;chapterNumber&#34;)" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model predicate="parent::list" behaviour="list">
            <param name="content" value="item"/>
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="epigraph" mode="change"/>
                <elementSpec ident="cit" mode="change"/>
                <elementSpec ident="list" mode="change">
                    <model predicate="@rend=&#34;align(left)&#34;" behaviour="list" useSourceRendition="true">
            <param name="content" value="item"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            text-align: left;
list-style-type: none;
            
            
            
            
            
            </outputRendition>
        </model>
                    <model predicate="not(@rendition)" behaviour="list">
            <param name="content" value="item"/>
            <outputRendition xml:space="preserve">
            list-style-type: none;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="docTitle" mode="change"/>
                <elementSpec ident="titlePart" mode="change"/>
                <elementSpec ident="byline" mode="change">
                    <model behaviour="heading">
            <param name="level" value="3"/>
        </model>
                </elementSpec>
                <elementSpec ident="emph" mode="add">
                    <model predicate="@rend=&#34;case(smallcaps)&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-variant: small-caps;
            </outputRendition>
        </model>
                    <model predicate="@rend=&#34;case(allcaps)&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            text-transform: uppercase;
            </outputRendition>
        </model>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="foreign" mode="change">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="corr" mode="change"/>
                <elementSpec ident="person" mode="add">
                    <modelSequence>
            <desc>Layout for the Person popup</desc>
            <model behaviour="block">
                <param name="content" value="./persName[@type=&#34;primary&#34;]"/>
            </model>
            <model predicate="./note" behaviour="block">
                <param name="content" value="./note"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="parent::person" behaviour="inline"/>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="title" mode="change">
                    <model predicate="parent::head and @type=&#34;desc&#34;" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model predicate="parent::head and @type=&#34;main&#34;" behaviour="heading">
            <param name="level" value="1"/>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence>
                    <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
                    <modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
            <param name="content" value="corr[1]"/>
        </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
            <param name="content" value="expan[1]"/>
        </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
            <param name="content" value="reg[1]"/>
        </model>
                    <model predicate="sic and corr" behaviour="alternate">
            <param name="default" value="sic[1]"/>
            <param name="alternate" value="corr[1]"/>
        </model>
                    <model predicate="abbr and expan" behaviour="alternate">
            <param name="default" value="expan[1]"/>
            <param name="alternate" value="abbr[1]"/>
        </model>
                    <model predicate="orig and reg" behaviour="alternate">
            <param name="default" value="reg[1]"/>
            <param name="alternate" value="orig[1]"/>
        </model>
                </elementSpec>
                <elementSpec ident="signed" mode="change">
                    <model predicate="parent::closer" behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="cell" mode="change">
                    <model predicate="@rend=&#34;normal&#34;" behaviour="cell">
            <desc>Insert table cell. </desc>
            <outputRendition xml:space="preserve">
            font-style: normal;
            </outputRendition>
        </model>
                    <model behaviour="cell">
            <desc>Insert table cell. </desc>
        </model>
                </elementSpec>
                <elementSpec ident="row" mode="change">
                    <model predicate="@role='label'" behaviour="row">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="@rend=&#34;italic&#34;" behaviour="row">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model behaviour="row">
            <desc>Insert table row. </desc>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>